html{
      background:gold;
	}
	.shop {
	  text-align:center;
	  font-size: 30px;
	  background-color:#dfeeef; 
}
button {
	front-size:20px;
}
#push{
	background-color:yello; 
}
#minus {
	background-color: pink;
}